.hidden {
    display: none;
}

#weather span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    min-height: 10vh;
}

#login-form {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

input {
    border: none;
}

button {
    border: none;
}

#todo-list {
    display: flex;
    flex-direction: column;
}